@charset "utf-8";
/* CSS Document */

/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
*/

body {
    font-family: 'Montserrat', sans-serif;
}

table, form {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


.col-xl-8 {
	
}

.col-xl-8 {
	
}

.fondbleu {
	background: aliceblue;
}

.rose {
	background: pink;
}
